.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.online {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
}
.offline {
  width: 15px;
  height: 15px;
  background-color: #09ff00;
  border-radius: 50%;
}
